@import 'tailwindcss';
@theme {
   --breakpoint-xs: '320px';
}
::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 5px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
}

.container,
.container-fluid {
   width: 100%;
   padding-inline: 0.75rem;
   margin-inline: auto;
}

@media (min-width: 576px) {
   .container {
      max-width: 540px;
   }
}

@media (min-width: 768px) {
   .container {
      max-width: 720px;
   }
}

@media (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px;
   }
}

@media (min-width: 1400px) {
   .container {
      max-width: 1320px;
   }
}
